.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
  }
  
  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 50px;
    color: black;
    height: 5px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }

  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  
  .container {
    width: 90vw;
    margin: auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 2px;
    max-width: var(--fixed-width);
    display: grid;
    gap: 1rem 2rem;
  }
  
  
  @media screen and (min-width: 992px) {
    .container {
      display: grid;
      grid-template-columns: 250px 1fr;
    }
  }